// 設定主色按鈕的hover
.btn-primary{
  color:$dark;
  &:hover{
    background-color:#ff785e;
    color:#ffffff;
  }
}
.btn-outline-gray:hover{
  background-color:$primary;
  color:$gray;
  border-color:$primary;
}

//設定material design的部分
.svg-icon{
  &.heart{
    height:20px;
    width:20px;
    margin-right:8px;
    fill:$gray;
  }
}
//指定按鈕的hover
.n-trace:hover{
  .svg-icon.heart{
    fill:#ff785e;
  }
}

//其他
.navbar{
  .btn{
    width: 96px;
  }
  a{
    color: $dark;
  }

}
.modal{
  input{

    background: #F7F7F7;
  }
  .register{
    font-size: 14px;
    letter-spacing: 0;
    line-height: 20px;
    color:$gray;
    .highlight{
      color:#EE6723;
    }
  }
}

.project-page{
  // .project-tag{
  //   font-size: 12px;
  //   height: 22px;
  //   width: 80px;
  // }
  background-color: $body-bgc;
  .target-dolar{
    font-size: 14px;
  }
  .people-count,.deadline{
    font-size: 14px;
  }
  h3{
    font-size: 32px;
    // line-height: 5;
    line-height: 1.75;
  }
  ul li{
    width: 24px;
    height: 24px;
    margin-right:24px;
    cursor:pointer;
  }
}



.selector{
  // 選單列的css
  .tabs{
    .active{
      border-bottom:2px solid $primary;
    }
    a{
      color:$dark;
    }
    ul li{
      &:hover{
        background-color: $primary;
      }

    }
  }

  //專案介紹的css
  //常見問答的css
  //目前進度的css
  //留言的css
  //側邊fixed的css
  aside{
    .card-header{
      div{
        p:first-child{
          font-size: 20px;
          color: #494846;
          letter-spacing: 2px;
          line-height: 1.5;
        }
        p:last-child{
          font-size: 16px;
          color: #373A3C;
          letter-spacing: 0.7px;
          line-height: 1.5;
        }
      }
    }
    .card-body{
      p{
        font-size: 16px;
        color: #373A3C;
        letter-spacing: 0.7px;
        text-align: justify;
      }
    }
    .card-footer{
      svg{
        max-height: 100%;
        max-width:100%;
        &.facebook{
          fill:white;
          width: 20px;
          height: 20px;
        }
        &.youtube{
          fill:white;
          width: 20px;
          height: 20px;
        }
      }
      .contact{
        span.material-symbols-outlined{
          font-size: 14px;
          font-weight: bolder;
        }
      }
    }

    h3.support{
      font-size: 20px;
      letter-spacing: 2px;
      color:#494846;
    }
    .card{
      h4{
        &.title{
          font-size: 18px;
          color: #494846;
          letter-spacing: 2px;
          line-height: 1.5;
        }
        &.price{
          font-size: 24px;
          color: #494846;
          letter-spacing: 0;
          line-height: 1.75;
        }
      }
    }
  }
}


