.l-quote{
  border-left:1px solid $primary;
}
.l-quote-bottom{
  border-bottom:1px solid $primary;
}
.l-border-y{
  border-bottom: 1px solid #E8E8DB;
  border-top: 1px solid #E8E8DB;
}

// 給大標題使用的外觀，字體大小32px，行高1.75倍(56px)
.l-text-32-56{
  font-size: 32px;
  line-height: 1.75em;
}
.l-btn-h52{
  height: 52px;
}

// 在主要畫面中，專案介紹區塊所使用的字體設定
.l-introduce-title{
  font-size: 24px;
  line-height: 1.5;
  letter-spacing:1.92px;
}
.l-introduce-content{
  font-size: 16px;
  color: #494846;
  line-height: 2;
}
// 在aside中，facebook&youtube links的設定
.l-icon-20-20{
  width: 20px;
  height: 20px;
}
